.homeHeader{
    /* position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backgroundImage{
    width: 100%;
    height: 140vh;
    /* position: absolute; */
    filter: brightness(60%);
}

.backgroundImage .video{
    object-fit: cover;
}

.video{
    /* margin-top: 25%; */
    margin-bottom: 10%;
    width:inherit;
    object-fit: fill;
}

.intro{
    /* display: flex;
    justify-content: center; */
    /* position: relative; */
    margin-top: 0vh;
    color: white;
}

/* .intro h1{
    color: white;
    font-size: 7vw;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
} */

.introImage{
    filter: brightness(70%);
    width: 350px;
    height: 475px;
    /* position: absolute; */
}

.introImage img{
    object-fit: cover;
    object-position: top;
}