@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  /* --backgroundColor: #292929; */
  --primaryColor: #0aa1ff;
  --primaryTextColor: #e6e6e6;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  background-color: var(--backgroundColor);
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: -40px;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.mainDiv {
  color: white;
  /* width: 100dvw; */
  overflow-x: hidden;
  /* height: 100%; */
  background: #3b3b3b;
  border-color: #3b3b3b;
  user-select: none;
  @apply py-12 pl-4;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .video-carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
  }
}

/* Tailwind CSS Configuration */

/* button animation */

.button-container-1 {
  /* margin-top: 50px; */
  color: #ffffff;
  background-color: #7828c8;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  /* width: 200px; */
  height: 38px;
  /* padding-left: 12px;
  padding-right: 12px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: 6vh; */
  overflow: hidden;
  letter-spacing: 1px;
}
.button-container-1 Button {
  /* width: 200px; */
  padding-left: 16px;
  padding-right: 16px;
  height: 38px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #fff;
  /* background: transparent; */
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #757575;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 Button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 1s steps(22) forwards;
}

.mas {
  width: 100%;
  /* padding-left: 16px;
  padding-right: 16px; */
  position: absolute;
  color: #ffffff;
  text-align: center;
  height: 38px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  position: absolute;
  font-size: 18px;
  margin-top: 7px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@media (max-width: 629px) {
  Image#join {
    display: none;
  }
}

.spacer {
  @apply w-full h-[50vh] bg-gray-300;
}

.photos {
  width: 40vw;
  height: 40vw;
  background: maroon;
}
